{% extends "index.html" %}
{% block content %}
    <p>This is the assignemnt page for the Class: {{ cc_project_id }} </p>
    <style>
      .vertical-menu {
	width: 200px;
      }
      .vertical-menu a {
	background-color: #333;
	color: white;
	display: inherit;
	padding: 12px;
	text-decoration: none;
      }
      .vertical-menu a:hover {
	background-color: blue;
      }
      .vertical-menu a.active {
	background-color: #4CAF50;
	color: white;
      }
    </style>
    <div class="vertical-menu">
      {% for cc_repo in cc_repos %}
      <a href="/repo/{{ cc_project_id }}/{{ cc_repo.id }}">{{ cc_repo.name }}</a>
      {% endfor %}
    </div>
{% endblock %}
