{% extends "index.html" %}
{% block content %}
    <h4>This is the assignment page for the Class: {{ cc_project_name }} </h4>
    <h4> Assignments are listed below: </h4>
    <style>
      .vertical-menu {
	width: 200px;
      }
      .vertical-menu a {
	background-color: #004A70;
	color: white;
	display: inherit;
	padding: 12px;
	text-decoration: none;
        text-transform: capitalize;
        border-top: 1px solid black;
      }
      .vertical-menu a:hover {
	background-color: black;
      }
      .vertical-menu a.active {
	background-color: #4CAF50;
	color: white;
      }
    </style>
    <div class="vertical-menu">
      {% for cc_repo in cc_repos %}
      <a href="/repo/{{ cc_project_id }}/{{ cc_repo.id }}">{{ cc_repo.name }}</a>
      {% endfor %}
    </div>
{% endblock %}
