{% extends "index.html" %}
{% block content %}
<h3> Docker Container Images and Docker Hub!</h3>

<h4>What is a Docker Container Image?</h4>

<p> A Docker container image is a lightweight, standalone, executable package of software that includes everything needed to run an application: code, runtime, system tools, system libraries and settings. A image is similar to a snapshot of a virtual machine and the advantage is once a image is created and working, it will work on every machine that runs it.</p>

<h4>Docker Hub</h4>
<p>Docker Hub is Docker's online registry were users have the ability to sign up and create, share, and pull images from public or prvate registries. Millions of users share there own images they have created or you can create your own test registry to create your own images!</p>
<p><a href="https://docs.docker.com/docker-hub/" target="_blank">Docker Hub Quickstart/Tutorial</a></p>   
<p><a href="https://hub.docker.com/" target="_blank">Docker Hub Website</a></p>     

{% endblock %}
