{% extends "index.html" %}
{% block content %}
<h3>Docker Information and Install Guide!</h3>
<h4>What is Docker and a Container?</h4>
<p>
Docker is a tool designed to make it easier to create, deploy, and run applications by using containers. Containers allow a developer to package up an application with all of the parts it needs, such as libraries and other dependencies, and ship it all out as one package.

A Docker container image is a lightweight, standalone, executable package of software that includes everything needed to run an application: code, runtime, system tools, system libraries and settings.
</p>

<p>Below is the install links to install Docker to your personal machine!</p>
<p>For Windows 10 pro Users, Click the link to donwload Docker: <a href="https://hub.docker.com/editions/community/docker-ce-desktop-windows/" target="_blank">Windows 10 pro</a></p>
<p>For Windows, Click the link and follow the steps provided: <a href="https://docs.docker.com/toolbox/toolbox_install_windows/" target="_blank">Windows</a></p>
<p>For Mac Users, Click the link to donwload Docker: <a href="https://hub.docker.com/editions/community/docker-ce-desktop-mac/" target="_blank">Mac</a></p>
<p>For Linux Users, Click the link to donwload Docker: <a href="https://docs.docker.com/install/linux/docker-ce/ubuntu/" target="_blank">Linux</a></p>


{% endblock %}
