{% extends "index.html" %}
{% block content %}
<h2>{{ cc_repo_name }}</h2>
<h4> Assignment information </h4>
<p>{{ cc_repo_description|markdown }}</p>
<hr>
<h4> Docker Pull Command </h4>
<p>Docker Pull command format: docker pull classcontainers.com:8444/{{ cc_repo_name}}:*image tag*
<p>Docker pull command example: docker pull classcontainers.com:8444/{{ cc_repo_name}}:{{ cc_repo_tags.0 }}</p>
<p> Image tags for {{cc_repo_name }}:{% for tag in cc_repo_tags %}
         {{ tag }}
    {% endfor %}
</p>
<!--
<hr>
<h3>-- DEBUGGING -- </h3>
<ul>
    <li>cc_repo_labels: {{ cc_repo_labels }}
    <li>cc_repo_id: {{ cc_repo_id }}
    <li>cc_repo_response:<pre>{{ cc_repo_response }}</pre>
    <li>cc_repo_tags:{% for tag in cc_repo_tags %}
	{{ tag }}
    {% endfor %}
<ul>
-->
{% endblock %}
